.bdts-wrapper {
    background: #fff;
    max-width: 1600px;
}

.bdt-main-tab li {
    outline: none;
    display: inline-block;
}

.bdt-main-tab a {
    text-decoration: none;
    outline: none;
}


.bdt-main-tab a .dashicons {
    font-size: 46px;
}

.bdt-content-item {
    display: none;
}

.bdt-content-item.bdt-active {
    display: block;
}

.bdts-menu {
    width: 150px;
    border-right: 1px solid #ddd;
    margin-right: 32px;
}

.bdts-form-wrapper {}

.bdts-form-wrapper .bdt-form-large, .bdt-content-item .bdt-form-large {
    width: 25em;
    height: 46px
}

.bdts-form-wrapper .bdt-button {
    background: #0f7ae5;
    color: #fff;
    padding: 12px 24px;
    width: 100%;
    border-color: #0f7ae5;
    text-transform: uppercase;
    font-weight: 600;
}

.bdts-form-wrapper .bdt-button:hover {
    color: #fff;
    background: #338be3;
    border-color: #338be3;
}

.bdts-domain-list {
    list-style-type: decimal !important;
}

.bdts-domain-list li>div {
    display: flex;
    justify-content: space-between;
}

.bdts-domain-list li a {
    color: #fff;
    background: #f51290;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 7px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
}

.bdts-domain-search-input, .bdt-w-100 {
    width: 100% !important;
}

.bdt-link-heading:focus {
    border: none;
    box-shadow: none;
}

.bdt-not-access .dashicons-lock {
    font-size: 50px;
}